DB_URL=jdbc:postgresql://host.docker.internal:5432/jstratusd?sslmode=disable
DB_USERNAME=postgres
DB_PASSWORD=postgres
BUILD_QUEUE=build-queue
R2_REGION=us-east-1
R2_BUCKET_NAME=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_ENDPOINT=
UPSTASH_REDIS_REST_HOST=redis
UPSTASH_REDIS_REST_TOKEN=
REDIS_PORT=6379
WORKER_WEBSITE_URL=http://host.docker.internal
